* text eol=lf

*.png -text
*.jpg -text
*.ico -text
*.gif -text
*.webp -text

# Include documentation and illustration scripts in GitHub Linguist statistics.
*.py linguist-detectable -linguist-documentation -linguist-generated
*.md linguist-detectable -linguist-documentation
*.MD linguist-detectable -linguist-documentation
*.markdown linguist-detectable -linguist-documentation
*.MARKDOWN linguist-detectable -linguist-documentation
