* text eol=lf

*.png -text
*.jpg -text
*.ico -text
*.gif -text
*.webp -text

# Include documentation and illustration scripts in GitHub Linguist statistics.
*.py linguist-language=Python linguist-detectable -linguist-documentation -linguist-generated
*.md linguist-language=Markdown linguist-detectable -linguist-documentation -linguist-generated
*.MD linguist-language=Markdown linguist-detectable -linguist-documentation -linguist-generated
*.markdown linguist-language=Markdown linguist-detectable -linguist-documentation -linguist-generated
*.MARKDOWN linguist-language=Markdown linguist-detectable -linguist-documentation -linguist-generated
